.vscode/

python/convert-to-data/input/*
python/convert-to-data/output/*
python/convert-to-data/output.bin

python/optimize/input/*
python/optimize/output/*

python/quality-test/output/*
python/quality-test/input.png
python/quality-test/input.jpg

package.json
package-lock.json
node_modules/

output/
test/